<head>
  <style>
  .footer-bar{
    background-color: #f7f9f9
  }

  body{
    background-color: #f7f9f9
  }
  </style>
</head>

<div class="user-register">



<header style="height: 90px;">
    <div class="header-register-container">
     <div class="header-register-container-logo">
      <a href="/">kokuchii</a>
     </div>
    </div>
</header>

<div class="user-registration">
  <div class="user-registration-container">
     <div class="user-registration-title">
      <p class="user-registration-title-text">kokuchiiにログイン</p>
     </div>
     <div class="user-registration-SNS">
      <a class="p-lp-hello-section-button-twitter" href="/users/auth/twitter">Twitterログイン</a>
      <a class="p-lp-hello-section-button-facebook" href="/users/auth/facebook">facebookログイン</a>
     </div>
  </div>
</div>



</div>
