<div class="container">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-8">
      <%= image_tag @user.image, :class => "edit-user-profile-image"%>
      <%= form_for @user do |f| %>
      <%= f.label :プロフィール %>
          <%= f.text_field :profile, class: 'form-control' %>
      <% end %>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>
