// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.c-top-bar>.o-container {
    position: relative;
    padding-right: 24px;
    padding-left: 24px;
}

.c-top-bar{
  font-size: 2em;
  font-weight: bold;
  color: #F50670;;
  height: 72px;
  background-color: white;
  text-align: center;
}

.o-container {
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}

.o-container-header-logo{
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px;
}

.p-lp .p-lp-hello-section{
  padding-right: 24px;
  padding-left: 24px;
  text-align: center;
    margin-top: 60px;
    padding-top: 50px;
    padding-bottom: 60px;
}

.p-lp-hello-section-button{
  display: flex;
  height: 50px;
  margin-top: 64px;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.p-lp-hello-section-button-twitter{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  border-radius: 25px;
  font-weight: bold;
  color: #fff;
  background-color: #5babea;
  border-color: transparent;
  text-align: center;
  vertical-align: middle;
}

.p-lp-index-section{
 background-color: #f2f2f4;
}
